/vendor
/composer.lock
/test/config/.env
# Others #
.idea/
.project/
.bundle/
*.retry
.vscode/
.phpunit.result.cache
/results/
/.run/
.env

# Hugo
website/public/
website/resources/_gen/
.hugo_build.lock