:root {
  --primary-neon: #00ff66; /* Vert néon pour les éléments principaux */
  --secondary-neon: #01c8ee; /* Bleu cyan pour les accents secondaires */
  --text-color: #b4e1e7; /* Bleu-gris très clair pour le texte standard */
  --dark-bg: #050505; /* Fond très sombre */
}

body {
  background-color: var(--dark-bg);
  color: var(--text-color);
}

/* Uniformiser les titres en utilisant la même couleur */
h1,
h2 {
  color: var(--primary-neon);
  text-shadow: 0 0 5px var(--primary-neon);
  text-align: center;
}

/* Garder la même couleur pour les mots clés et le code */
code,
strong,
.highlight {
  color: var(--primary-neon);
}

/* Utiliser la couleur secondaire uniquement pour les liens et séparateurs */
a,
.separator:before,
hr:before {
  color: var(--secondary-neon);
}

a:hover {
  text-shadow: 0 0 8px var(--secondary-neon);
}
