baseURL = 'https://noweh.github.io/eveil-de-fork'
languageCode = 'fr-FR'
title = 'L\éveil de \/Fork'
theme = "nostyleplease"

# Ignorer les contenus d'exemple du thème
ignoreFiles = ["themes/nostyleplease/content/.*"]

[params]
  description = "Une histoire de cyberfantasy"
  
  [params.theme_config]
    appearance = "dark"
    back_home_text = ".."
    date_format = "02/01/2006"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true