<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}" />
{{ end }}
<meta name="author" content="Julien SCHMITT" />
<meta name="robots" content="index, follow" />

<meta
  property="og:type"
  content="{{ if .IsPage }}article{{ else }}website{{ end }}"
/>
<meta property="og:url" content="{{ .Permalink }}" />
<meta
  property="og:title"
  content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}"
/>
<meta
  property="og:description"
  content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}"
/>
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="book" />
<meta property="book:author" content="Julien SCHMITT" />
<meta property="book:tag" content="cyberfantasy,science-fiction,web fiction" />

<meta property="og:image" content="{{ "icons/android-chrome-512x512.png" |
absURL }}" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
<meta property="og:image:type" content="image/png" />
<meta
  property="og:image:alt"
  content="L'éveil de \/Fork - Une histoire de cyberfantasy"
/>
<meta name="theme-color" content="#1a1a2e" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta
  name="twitter:title"
  content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}"
/>
<meta
  name="twitter:description"
  content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}"
/>
<meta name="twitter:image" content="{{ "icons/android-chrome-512x512.png" |
absURL }}" />

<link rel="canonical" href="{{ .Permalink }}" />

<title>
  {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} - {{ .Site.Title }}
  {{ end }}
</title>

{{ $style := resources.Get "css/main.scss" | css.Sass | resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $style.Permalink }}"
  integrity="{{ $style.Data.Integrity }}"
/>

{{ $customStyle := resources.Get "css/custom.css" | resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $customStyle.Permalink }}"
  integrity="{{ $customStyle.Data.Integrity }}"
/>

<link rel="apple-touch-icon" sizes="180x180"
href="{{"icons/apple-touch-icon.png" | relURL }}" /> <link rel="icon"
type="image/png" sizes="32x32" href="{{"icons/favicon-32x32.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="16x16"
href="{{"icons/favicon-16x16.png" | relURL }}" /> <link rel="manifest"
href="{{"icons/site.webmanifest" | relURL }}" />

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-0JRYX6HS3X"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-0JRYX6HS3X");
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    "name": "{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}",
    "headline": "L'éveil de \/Fork",
    "author": {
      "@type": "Person",
      "name": "Julien SCHMITT"
    },
    "genre": "Cyberfantasy",
    "description": "{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}",
    "inLanguage": "fr-FR",
    "url": "{{ .Permalink }}",
    "datePublished": "2025-05-20",
    "publisher": {
      "@type": "Person",
      "name": "Julien SCHMITT"
    },
    "isPartOf": {
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}"
    }
     {{ if .IsPage }}
    ,"hasPart": {
      "@type": "WebPageElement",
      "isPartOf": {
        "@id": "{{ .Site.BaseURL }}"
      },
      "name": "{{ .Title }}"
    }
    {{ end }}
  }
</script>
