<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}" />
{{ end }}
<meta name="author" content="Julien SCHMITT" />
<meta name="robots" content="index, follow" />

<meta
  property="og:type"
  content="{{ if .IsPage }}article{{ else }}website{{ end }}"
/>
<meta property="og:url" content="{{ .Permalink }}" />
<meta
  property="og:title"
  content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}"
/>
<meta
  property="og:description"
  content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}"
/>
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="book" />
<meta property="book:author" content="Julien SCHMITT" />
<meta property="book:tag" content="cyberfantasy,science-fiction,web fiction" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta
  name="twitter:title"
  content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}"
/>
<meta
  name="twitter:description"
  content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}"
/>

<link rel="canonical" href="{{ .Permalink }}" />

<title>
  {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} - {{ .Site.Title }}
  {{ end }}
</title>

{{ $style := resources.Get "css/main.scss" | css.Sass | resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $style.Permalink }}"
  integrity="{{ $style.Data.Integrity }}"
/>

{{ $customStyle := resources.Get "css/custom.css" | resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $customStyle.Permalink }}"
  integrity="{{ $customStyle.Data.Integrity }}"
/>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-0JRYX6HS3X"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-0JRYX6HS3X");
</script>

<script type="application/ld+json">
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "name": "{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}",
  "headline": "L'éveil de \/Fork",
  "author": {
    "@type": "Person",
    "name": "Julien SCHMITT"
  },
  "genre": "Cyberfantasy",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}",
  "inLanguage": "fr-FR",
  "url": "{{ .Permalink }}",
  "datePublished": "2025-05-20",
  "publisher": {
    "@type": "Person",
    "name": "Julien SCHMITT"
  },
  "isPartOf": {
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}"
  }
   {{ if .IsPage }}
  ,"hasPart": {
    "@type": "WebPageElement",
    "isPartOf": {
      "@id": "{{ .Site.BaseURL }}"
    },
    "name": "{{ .Title }}"
  }
  {{ end }}
</script>
